<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | TASKA</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>

<body>

  <div class="auth-container">

    <div class="auth-left">
      
      <h1>TASKA</h1>
      <h2>Welcome To TASKA 👋</h2>

      <p>
        Manage your projects, tasks and team collaboration
        from one place.
      </p>
    </div>

    <div class="auth-card">

      <h2>Login</h2>

      <p>Sign in to continue.</p>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div id="flash-message" class="flash">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <form action="/login" method="post">

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">
          Login
        </button>

      </form>

      <div class="auth-footer">
        Don't have an account?
        <a href="/register">Create Account</a>
      </div>

    </div>

  </div>
  <script>
    const flash = document.getElementById("flash-message");

    if (flash) {
      setTimeout(() => {
        flash.style.opacity = "0";
        flash.style.transform = "translateY(-10px)";

        setTimeout(() => {
          flash.remove();
        }, 300);

      }, 3000);
    }
  </script>

</body>

</html>