{% extends "layout.html" %}

{% block content %}
<div class="project-page-header">

    <div>
        <h1>{{ name }}</h1>
        <p>Your project workspaces</p>
    </div>

    <a href="/project/create" class="project-create-btn">
        + New Project
    </a>

</div>

<div class="project-list-grid">

{% for project in projects %}

<a href="/project/detailes/{{ project['id'] }}?next={{ request.path }}"
   class="project-list-link">

    <div class="project-list-card">

        <h3>{{ project['name'] }}</h3>

        <p class="project-list-meta">
            {{ project['task_count'] }} Task{% if project['task_count'] != 1 %}s{% endif %}
            •
            {{ project['member_count'] }} Member{% if project['member_count'] != 1 %}s{% endif %}
        </p>

        <div class="project-list-date">
            {{ project['created_at'] }}
        </div>

    </div>

</a>

{% else %}

<div class="project-list-empty">
    <h3>{{ empty_title }}</h3>


    <p>{{ empty_message }}</p>

</div>

{% endfor %}

</div>


{% endblock %}